# Listen for incoming livestatus requests here
# TCP or unix sockets are allowed. Multiple entrys
# are also valid
Listen          = ["127.0.0.1:3333", "/tmp/live.sock"]

# daemon will log to stdout if no logfile is set
#LogFile         = "lampd.log"

# May be Error, Warn, Info, Debug and Trace
LogLevel        = "Info"

# Uncomment to export runtime statistics in prometheus format
#ListenPrometheus = "127.0.0.1:8080"

# Refresh remote sites every x seconds
# fast updates are ok, only changed hosts and services get fetched
# and once a minute everything is updated
UpdateInterval  = 3

# Connection timeout for remote tcp connections
NetTimeout  = 30

# use tcp connections
[[Connections]]
name   = "Monitoring Site A"
id     = "id1"
source = ["192.168.33.10:6557"]

# use tcp connections with multiple sources for clusters
[[Connections]]
name   = "Monitoring Site A"
id     = "id1"
source = ["192.168.33.10:6557", "192.168.33.20:6557"]

# or local unix sockets as remote sites
[[Connections]]
name   = "Local Site"
id     = "id2"
source = ["/var/tmp/nagios/run/live.sock"]

# add more connections as you like...
