# Listen for incoming livestatus requests here
# TCP or unix sockets are allowed. Multiple entries are also valid.
# An http address can be defined as well.
Listen          = ["127.0.0.1:3333", "/tmp/lmd.sock", "http://*:8080"]

# List of cluster nodes (cluster mode).
# All cluster nodes must have their http server enabled (see Listen).
# A bare ip address may be provided if the port is the same on all nodes.
#Nodes           = ["10.0.0.1", "http://10.0.0.2:8080"]

# daemon will log to stdout if no logfile is set
#LogFile         = "lmd.log"

# May be Error, Warn, Info, Debug and Trace
LogLevel        = "Info"

# After this amount of seconds, a backend will be marked down when there
# is no response
StaleBackendTimeout = 30

# Refresh remote sites every x seconds.
# Fast updates are ok, only changed hosts and services get fetched
# and once every `FullUpdateInterval` everything gets updated.
UpdateInterval = 5

# Run a full update on all objects every x seconds. Set to zero to turn off
# completly. This is usually not required and only needed if for uncommon
# reasons some updates slip through the normal delta updates.
FullUpdateInterval = 600

# After `IdleTimeout` seconds of no activity (incoming querys for this backend)
# the slower update interval of `IdleInterval` seconds will be used.
# Don't set the timeout to low, clients will have to wait for a "spin up"
# query on the first access after idling.
IdleTimeout = 120
IdleInterval = 1800

# Connection timeout for remote tcp connections
NetTimeout = 30

# Skip ssl certificate verification on https remote backends.
# Set to 1 to disabled any ssl verification checks.
SkipSSLCheck = 0

# Uncomment to export runtime statistics in prometheus format
#ListenPrometheus = "127.0.0.1:8080"

# use tcp connections
[[Connections]]
name   = "Monitoring Site A"
id     = "id1"
source = ["192.168.33.10:6557"]

# use tcp connections with multiple sources for clusters
[[Connections]]
name   = "Monitoring Site A"
id     = "id1"
source = ["192.168.33.10:6557", "192.168.33.20:6557"]

# or local unix sockets as remote sites
[[Connections]]
name   = "Local Site"
id     = "id2"
source = ["/var/tmp/nagios/run/live.sock"]

# use tcp connections with ipv6 address
[[Connections]]
name   = "Monitoring Site A IPv6"
id     = "id3"
source = ["[::1]:6557"]

# connect to thruk http(s) api
[[Connections]]
name   = "Thruk HTTP"
id     = "id4"
source = ["http://thruk.monitoring/omdsite/"]
auth   = "authkey..."

# add more connections as you like...
